<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="engine" class="com.nobel.model.JetEngine">
		<property name="fuelType" value="Anaconda"></property>
	</bean>
	
	<bean id="p1" class="com.nobel.model.Passenger">
		<property name="name" value="Sunil"></property>
		<property name="mobile" value="8055812181"></property>
	</bean>
	
	<bean id="p2" class="com.nobel.model.Passenger">
		<property name="name" value="Amol"></property>
		<property name="mobile" value="8855842141"></property>
	</bean>
	
	<bean id="plane" class="com.nobel.model.JetPlane">
		<property name="engine" ref="engine"></property>
		<property name="passengerNames">
			<list>
				<ref bean="p1"/>
				<ref bean="p2"/>
			</list>
		</property>
	</bean>

</beans>