<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>first-web-app</display-name>
  <servlet>
    <servlet-name>datetime</servlet-name>
    <servlet-class>com.itp.servlets.DateTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datetime</servlet-name>
    <url-pattern>/date</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCategoryServlet</display-name>
    <servlet-name>ShowCategoryServlet</servlet-name>
    <servlet-class>com.itp.servlets.ShowCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCategoryServlet</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
</web-app>